<!DOCTYPE html>
<html>
<head>
  <title>CalConnect</title>
  
  <meta name="google-signin-client_id" content="897203080551-6g1s210vnqc44lbv6sqoub95nvos975e.apps.googleusercontent.com">


  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <script src={{ url_for('static', filename='script.js')}}></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
  
</head>
<body>
  <div id="gSignIn" class="float-right"></div>
  <div id="user-welcome" class="float-right">
    Welcome <span id="user-name" class="mr-3"></span> 
    <button class="btn btn-secondary"
            onclick=signOut()>
      Log out
    </button>
  </div>
  <main class="main-form">
    <h3>CalConnect</h3>
    <div id="form-body">
      <form class="form-group">
        <label for="input-name" class="required">Your name</label>
        <input type="text" required class="form-control" id="input-name">
        
        <label for="input-event" class="required">Event name</label>
        <input type="text" id="input-event" required class="form-control" >
          
        <div>
          <label for="input-invitee">Invitee's email (Ex: user@gmail.com)</label>
        </div>  
        <input type="email" 
               class="form-control col-md-8 d-inline" 
               id="input-invitee">
        <button type="button"
                class="ml-2 btn btn-primary"
                onclick=addEmail()>
          Add email 
        </button>
        <div id="invitee-list" class="mt-2">
        </div>
        <label for="input-description">Description</label>
        <textarea id="input-description" class="form-control" rows="10"></textarea>
        <button class="mt-3 btn btn-block btn-success">
          Book appointment
        </button>
      </form>
    </div>
  </main>  
</body>
</html>